* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add {
    margin-right: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

.editbtn {
    border: 1px solid green;
    border-radius: 50%;
    box-shadow: none;
}

.ml3 {
    padding-left: 10px;
    padding-right: -10%;
}